doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')

    title= SportelloAmico
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(href='/stylesheets/style.css', rel='stylesheet')
  body
    nav.navbar.navbar-expand-md.navbar-dark.bg-dark.navbar-static-top
        a.navbar-brand(href='/') SportelloAmico
        
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#menuCollapse', aria-controls='menuCollapse', aria-expanded='false', aria-label='Toggle navigation')
          span.navbar-toggler-icon
        |       
        #menuCollapse.collapse.navbar-collapse
          ul.navbar-nav.ml-auto
            - if (!user){
                li.nav-item(class=(title == 'Home' ? 'active' : ''))
                  a.nav-link.js-scroll-trigger(href='/') Home
                li.nav-item(class=(title == 'Login' ? 'active' : ''))
                  a.nav-link(href='/users/login') Login
            -} else if (user && user.username =='Ianos2' ){
                li.nav-item(class=(title == 'Home' ? 'active' : ''))
                  a.nav-link.js-scroll-trigger(href='/') Home
                li.nav-item(class=(title == 'Cerca candidado' ? 'active' : ''))
                  a.nav-link(href='/candidats') Cerca candidado
                li.nav-item(class=(title == 'Nuovo candidado' ? 'active' : ''))
                  a.nav-link(href='/candidats/new_candidate') Nuovo candidado
                li.nav-item(class=(title == 'Nuovo candidado' ? 'active' : ''))
                  a.nav-link(href='/users/register') Nuovo Utente
                li.nav-item
                  a.nav-link(href='/users/logout') Logout
            -} else if (user){
                li.nav-item(class=(title == 'Home' ? 'active' : ''))
                  a.nav-link.js-scroll-trigger(href='/') Home
                li.nav-item(class=(title == 'Cerca candidado' ? 'active' : ''))
                  a.nav-link(href='/candidats') Cerca candidado
                li.nav-item(class=(title == 'Nuovo candidado' ? 'active' : ''))
                  a.nav-link(href='/candidats/new_candidate') Nuovo candidado
                li.nav-item
                  a.nav-link(href='/users/logout') Logout
            -} else {
                li.nav-item(class=(title == 'Login' ? 'active' : ''))
                  a.nav-link(href='/users/login') Login
            -}
            
              
    main
      .jumbotron.mt-3
        != messages()
        block content
    

    footer.footer.bg-dark.static-bottom
      .inner
        p.text-center.text-muted &copy;2018, All Rights Reserved
      
  script(src='/javascripts/jquery.min.js')
  script(src='/javascripts/bootstrap.js')
  script(src='/javascripts/jquery.easing.min.js')
  script(src='/javascripts/scrolling-nav.js')