doctype html
html
  head
    title= SportelloAmico
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(href='/stylesheets/style.css', rel='stylesheet')
  body
      nav.navbar.navbar-expand-md.navbar-dark.bg-dark
        .container.navbar-collapse.collapse.w-100.order-1.order-md-0.dual-collapse2
          .navbar-header.mr-auto
            button.navbar-collapse.collapse(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
              span.sr-only Toggle navigation          
              span.icon-bar    
              span.icon-bar     
              span.icon-bar
            a.navbar-brand(href='/') SportelloAmico
          #navbar.collapse.navbar-collapse
            ul.nav.navbar-nav.mr-auto
              li(class=(title == 'Home' ? 'active' : ''))
                a.nav-link(href='/') Home
              if !user
                li(class=(title == 'Login' ? 'active' : ''))
                  a.nav-link(href='/users/login') Log In
              if user
                if user.username=='Ianos2' 
                  li
                    a.nav-link(href='/users/register') Nuovo Utente
                li(class=(title == 'Cerca candidado' ? 'active' : ''))
                  a.nav-link(href='/users/new_candidate') Cerca candidado
                li(class=(title == 'Nuovo candidado' ? 'active' : ''))
                  a.nav-link(href='/users/new_candidate') Nuovo candidado
            ul.nav.navbar-nav.ml-auto.w-100.justify-content-end                    
                li
                  a.nav-link(href='/users/logout') Logout
        
      .container
        != messages()
        block content
  
  footer
    p&copy;2018, All Rights Reserved
      
  script(src='/javascripts/jquery.min.js')
  script(src='/javascripts/bootstrap.js')
  script(src='/javascripts/jquery.easing.min.js')
  script(src='/javascripts/scrolling-nav.js')